<mat-grid-list cols="1" rowHeight="150px">
    <mat-grid-tile [rowspan]="3">
        <mat-card class="my-card">
            <mat-card-title>Dashboard</mat-card-title>
            <mat-card-content style="justify-content: center;">
                Select or Create classification
            </mat-card-content>
        </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1.3" style="border-top: 1.3mm ridge rgba(82, 73, 44, 0.6);">
        <mat-card class="my-card">
            <mat-card-title>Project</mat-card-title>
            <mat-card-content>

                    <div class="example-button-container">
                    <button mat-fab color="warn" aria-label="Create new project" (click)="openDialog()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
            </mat-card-content>
        </mat-card> 
       
    </mat-grid-tile>
</mat-grid-list>