
.singin-div{
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 0;
	height: 600px;

  }
  .dashboard-div{
	display: block;
	
	margin: 20px;
	background-color: rgb(228, 223, 204);
	

  }