
  
<mat-card class="my-card" >
  <br>
  <mat-card-title>Sign-in</mat-card-title>
  <mat-card-content class="my-card-content">
    <mat-form-field appearance="fill">
      <mat-label >email</mat-label>
      <input type="email" matInput>
     
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label >Password</mat-label>
      <input type="password" matInput>
     
    </mat-form-field>
    <br>
   
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Sign-in</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>
<br>

